/* Add here all your CSS customizations */
/*box head news*/
.box-item {
    float: left;
    opacity: 1;
    overflow: hidden;
    position: relative;
}

.box-item img {
    width: 100%;
}
.box-item a {color:#FFF;}

.box-item .box-post span.meta {
    font-family:  sans-serif;
    font-size: 12px;
    color: #fff;
    margin-top: 15px;
    display: block;
}

.box-item .box-post span.meta span {
    margin-right: 15px;
}

.box-item .box-post {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background:rgba(0,0,0,0.6);
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.box-item .box-post h1.post-title {  
   margin-bottom:10px;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

/*
* Box depan
*/
.custom-thumb-info-4 {
	border: none;
	padding-bottom: 10px;
	overflow: initial;
    max-width:100%;     
}

.custom-thumb-info-4:hover .thumb-info-wrapper:before {
	background: rgba(0, 0, 0, 0.25);
}
.custom-thumb-info-4:hover .thumb-info-wrapper:after {
	top: 50%;
	opacity: 1;
}
.custom-thumb-info-4 a {
	cursor: pointer;
}
.custom-thumb-info-4 .thumb-info-wrapper:before {
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	transition: background 0.2s;
	background: transparent;
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
}
.custom-thumb-info-4 .thumb-info-wrapper:after {
	-webkit-transition: top 0.2s, opacity 0.2s;
	-moz-transition: top 0.2s, opacity 0.2s;
	transition: top 0.2s, opacity 0.2s;
	background: transparent;
	color: #FFF;
	font-size: 30px;
	height: 30px;
	position: absolute;
	top: 30%;
	margin-top: -15px;
	display: block;
	text-align: center;
	width: 100%;
	opacity: 0;
	z-index: 3;
}
.custom-thumb-info-4 .thumb-info-wrapper.active {
	box-shadow: 0px 0px 60px -3px #8b8b8b;
}
.custom-thumb-info-4 .thumb-info-caption {
	position: relative;
	display: block;
	width: 90%;
	margin: -37px auto 0;
	padding: 5px;
	background: #FFF;
	z-index: 1;
    border-bottom : 1px solid #d2322d;
}
.custom-thumb-info-4 .thumb-info-caption .thumb-info-caption-text {
	padding: 0;
}
.custom-thumb-info-4 .thumb-info-caption h4 {
	margin: 0;
	line-height: 1.5;
}